@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
  }
body{
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'San Francisco';
}
ul{
    list-style: none;
}
.c1{ 
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    justify-content: center;
    color: white;
    padding-bottom: 40px;
}
.c1 button{
    width: 100px;
    height: 30px;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15vw;
}
.mal{
    padding: 0;
    margin: 0;
}
.content h1{
    font-size: 48px;
    font-weight: bold;
    margin: 0;
}
.content img{
    width: 500px;

}
.logo{
    clip-path: circle(30%);
    width: 100px;
}
li{
    opacity: 0.5;
    margin: 0 30px;
    display: inline;
}
.first{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15vw;
}
a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
li:hover{
    opacity: 1;
}
.cl2 h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}
.cl2{
padding-bottom: 40px;
}
.internal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;

}
.internal img{
    width: 260px;
    height: 146.52px;
    border: solid 2px #3882f6;
    border-radius: 10px;
}
.internal div{
    max-width: 270px;
}

.c3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: #e5e7eb;
    margin: 0;
}
article{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    font-weight: 100;
    font-size: 36px;
    color: #1f2937
}
.p2{
    font-size: 36px;
    margin: 10px;
}
.cl3{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 55vw;
    border-radius: 8px;
    padding: 0px;
    background-color: #3882f6;
    color: white;
}
.box h1{
    font-size: 30px;
    margin: 0;
}
.box div{
   margin-right: 20px; 
}
.box p{
    margin: 0;
}
.box button{
    height: 30px;
    margin-top: 22px;
width: 100px;
border: solid 2px white;
}
button{
 border: none;
 border-radius: 5px;
 color: white;
background-color: #3882f6;
}
